/*-- scss:rules --*/

/* === Fonts === */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600&display=swap");

/* === Color system === */
$title-bg: #444;
$title-fg: #8fb3cc;
$title-fg: #acc7db;
$subtitle-fg: #fdfaf6;
$heading-color: #4f7d9d;
$inline-code-purple: #a277ff;

$navbar-bg: #4a789b;
$navbar-fg: #ffffff;
$navbar-hover: #f4d3e1;

$navbar-bg: #444;
$navbar-fg: #ffffff;
$navbar-hover: #f4d3e1;

.navbar,
.navbar.navbar-dark,
.navbar.navbar-light {
  background-color: $navbar-bg;
  // font-family: "Fira Sans", system-ui, sans-serif;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: $navbar-fg;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav .nav-link:hover {
  color: $title-fg;
}

.sidebar-menu-container a.sidebar-link.active {
  color: #2ea8e7;          
  // font-weight: 600;
}

.sidebar-menu-container a.sidebar-link:hover .menu-text {
  color: #2ea8e7;          
}



/* === Body content === */
// section {
main#quarto-document-content {
  max-width: 100ch;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Serif Pro", serif;
  font-weight: 400 !important;
  font-size: 17px;
  // font-size: 17px;
  // text-align: justify;
}

#quarto-sidebar > div.sidebar-menu-container {
  // font-family: "Fira Sans", sans-serif;
  li { 
    font-size: 0.85rem; 
    line-height: 1.3rem; 
  }
  
}

span.katex-html {
  font-family: "Source Serif Pro", "KaTeX_Main", serif;
  font-size: 1.05em;
}

.content :is(h1, h2, h3, h4, h5, h6) {
  letter-spacing: 0.02em;
  color: $heading-color;
  // font-family: "Fira Sans", system-ui, sans-serif;
  font-weight: 400;
}


.quarto-title-block {
  background-color: $navbar-bg;
  padding: 0.8rem;
  border-radius: 2px;
  margin-bottom: 0.5rem;
  color: #ccc;
  text-align: center;
}

.quarto-title-block {
  display: none;
}

section#welcome > h1.unnumbered {
  margin-top: .1rem;
}


/* === Inline code === */
:not(pre) > code {
  color: $inline-code-purple;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  // font-family: "Fira Sans", sans-serif;
  background-color: $title-bg;
  text-align: justify;
}


#quarto-document-content > p {
  width: 100%
}

// #quarto-document-content {
//   margin-left: 0;
//   // margin-right: 0;
// }

/* Shift main text left */
.page-columns > .content {
  margin-left: -4rem;
}



.content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.quarto-title.column-body {
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal centering */
  text-align: center;    /* center text itself */
}

/* Center title block content */
.quarto-title-block {
  display: flex;
  align-items: center;
}


#title-block-header > div.quarto-title-banner.page-columns.page-full {
  align-items: center;  
}


.quarto-title h1 {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
}


.quarto-categories {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Force title + categories to align with content column */
.quarto-title,
.quarto-categories {
  grid-column: content;
  justify-self: center;
  text-align: center;

  margin-left: auto;
}


div.quarto-title-meta {
  // text-align: left;
  text-align: left;
  margin-left: 150px;
  margin-right: auto;
}

.page-home .quarto-title-meta {
  display: none;
}


// #title-block-header {
//   display: none;
// }

:root:has(link[rel="canonical"][href$="/"]) .quarto-title-meta {
  display: none;
}

